.svg-holder {
    width: 100%;
    flex-grow: 1;
}

.rings circle {
    stroke: #222;
    stroke-width: 1px;
    stroke-dasharray: 5px;
    fill: none;
}


.middle {
    stroke: none;
    /* fill: #931F1D */
    fill: #72675A
}

.line {
    stroke: #228176;
    /* stroke: #72675A; */
    transition: 0.3s ease-in-out all;
    fill: none;
    stroke-width: 4px;
    stroke-linecap: round;
}

.distance-line {
    stroke: #931F1D;
    stroke: #7F7EFF;
    /* stroke: #72675A; */
    transition: 0.3s ease-in-out all;
    fill: none;
    stroke-width: 4px;
    stroke-linecap: round;

}